@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: Inter, sans-serif;
	color: white;
}


footer {
	margin: 50px 0;

	width: 100%;

	display: flex;

	justify-content: center;
	align-items: center;
}

footer > p {
	color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}
